body { 
  overflow-x: hidden;
}

#menu-toggle {
  color: #fff;
  font-size: 3.125rem;
  padding: 30px 0 0;
  line-height: 0;
}

#menu-toggle, #menu-toggle:active, #menu-toggle:focus, #menu-toggle:hover {
  z-index: 9;
  background-color: #437899;
  height: 80px;
  position: absolute;
  margin-top: 8px;
  width: 80px;
  margin-left: -5px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 7px 0.5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px 0.5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px 0.5px rgba(0,0,0,0.75);
}

button {
  border: none;
  border-radius: 0;
}

body.blue-color {
  background-color: #D5EFFF;
}
#menu-toggle.blue-color { 
  background-color: #437899;
}

body.indigo-color {
  background-color: #DFE2FE;
}
#menu-toggle.indigo-color {
  background-color: #434A99
}

body.green-color {
  background-color: #B7E7B0;
}
#menu-toggle.green-color {
  background-color: #4D9943;
}

body.orange-color {
  background-color: #F4D7CE;
}
#menu-toggle.orange-color {
  background-color: #995643;
}

.hide {
  margin-top: -195px !important;
  margin-right: -245px !important;
  overflow: hidden;
}

.show {
  margin-right: 35px;
  margin-top: inherit;
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.swatch-container {
}

.color-swatch-menu {
  display: flex;
  justify-content: flex-end;
}

.swatch { 
  height: 230px;
  width: 67px;
  position: absolute;
  margin-left: -172px;

  -webkit-box-shadow: 0px 0px 7px 0.5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px 0.5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px 0.5px rgba(0,0,0,0.75);

transition: all 700ms cubic-bezier(0.68, -1.55, 0.365, 1.55);
}

.not {
  padding-top: 10px;
}

.okay {
  padding-top: inherit;
}

.red {
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
  background-color: #880005;
  margin-top: -110px;
}

.orange {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #995643;
  margin-top: -71px;
  margin-left: -177px;
}

.yellow {
  -ms-transform: rotate(-110deg);
  -webkit-transform: rotate(-110deg);
  transform: rotate(-110deg);
  background-color: #998543;
  margin-top: -30px;
  margin-left: -171px;
}

.green {
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  background-color: #4D9943;
  margin-top: 8px;
  margin-left: -150px;
}

.turquoise {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  background-color: #43998B;
  margin-top: 32px;
  margin-left: -119px;
}

.blue {

  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  background-color: #437899;
  margin-top: 43px;
  margin-left: -87px;
}

.indigo {
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  background-color: #434A99;
  margin-top: 45px;
  margin-left: -41px;
}

.purple {
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  background-color: #5E4399;
  margin-top: 32px;
  margin-left: -8px;
}

.violet {
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  background-color: #8A4399;
  margin-top: 3px;
  margin-left: 23px;
}

.line {
    background-color: white;
    height: 7px;
    width: 45px;
    border-radius: 20px;
    margin-left: 18px;
    margin-bottom: -20px;
    margin-top: -7px;
}

.close {
  transition: all 300ms cubic-bezier(0.68, -1.55, 0.365, 1.55);
}

.top.close {
  transform: rotate(-45deg);
    margin-top: -13px;
}

.middle.close {
  opacity: 0;
}

.bottom.close {
      transform: rotate(45deg);
    margin-top: 25px;
}

#menu-toggle.close {
  padding-top: 20px;
  margin-left: -35px;
}

.open, .line.open {
  transition: all 300ms cubic-bezier(0.68, -1.55, 0.365, 1.55);
}

